openapi: 3.0.0
info:
  title: API WhatsFood
  version: '1.0'
  contact:
    name: CofyCode
    email: codecofy@gmail.com
  license:
    name: MIT
servers:
  - url: 'https://api.sendpushs.com'
    description: Sandbox
paths:
  /auth:
    post:
      summary: Autenticação
      operationId: post-auth
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                  token:
                    type: string
                required:
                  - name
                  - token
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                password:
                  type: string
              required:
                - email
                - password
  /products:
    get:
      summary: Todos produtos
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    active:
                      type: boolean
                    name:
                      type: string
                    categorie:
                      type: string
                    price:
                      type: string
      operationId: get-products
      description: Todos os produtos da loja que usuário está autenticado
      parameters:
        - schema:
            type: string
          in: header
          name: Authentication
          required: true
    post:
      summary: Criar produto
      operationId: post-products
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  name:
                    type: string
                  '':
                    type: string
      description: ''
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                description:
                  type: string
                price:
                  type: string
                discount:
                  type: number
                active:
                  type: boolean
                categorie_id:
                  type: integer
                file_id:
                  type: integer
              required:
                - name
                - description
                - price
                - active
                - categorie_id
      parameters:
        - schema:
            type: string
          in: header
          name: Authentication
          required: true
    patch:
      summary: Adicionar imagem no produto
      operationId: patch-products
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  url:
                    type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                file:
                  type: string
              required:
                - file
      parameters:
        - schema:
            type: string
          in: header
          name: Authentication
  '/products/{id}':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
    get:
      summary: Ver produto
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  name:
                    type: string
                  active:
                    type: boolean
                  price:
                    type: string
                  discount:
                    type: string
                  description:
                    type: string
                  file_id:
                    type: integer
                  categorie_id:
                    type: integer
                required:
                  - id
                  - name
                  - active
                  - price
                  - description
                  - categorie_id
      operationId: get-products-id
      parameters:
        - schema:
            type: string
          in: header
          name: Authentication
    put:
      summary: Atualizar produto
      operationId: put-products-id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  name:
                    type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                price:
                  type: number
                discount:
                  type: string
                active:
                  type: boolean
                description:
                  type: string
                file_id:
                  type: integer
      parameters:
        - schema:
            type: string
          in: header
          name: Authentication
          required: true
    delete:
      summary: Deletar produto
      operationId: delete-products-id
      responses:
        '204':
          description: No Content
      parameters:
        - schema:
            type: string
          in: header
          name: Authentication
          required: true
  /menu:
    get:
      summary: Ver cárdapio
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  categories:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                        products:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: integer
                              name:
                                type: string
                              price:
                                type: number
                              discount:
                                type: number
                              image:
                                type: string
                  client:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                      phone:
                        type: string
                  store:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                      logo:
                        type: string
                      banner:
                        type: string
                required:
                  - client
                  - store
        '400':
          description: Bad Request
      operationId: get-menu
      parameters:
        - schema:
            type: string
          in: query
          name: store
          description: Phone of store
          required: true
        - schema:
            type: string
          in: query
          name: client
          description: Phone of client
          required: true
  /store:
    parameters: []
    put:
      summary: Atualizar loja
      operationId: put-stores-id
      responses:
        '200':
          description: OK
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                street:
                  type: string
                district:
                  type: string
                number:
                  type: string
                active:
                  type: boolean
    get:
      summary: Ver loja
      operationId: get-stores-id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  street:
                    type: string
                  district:
                    type: string
                  number:
                    type: string
                  active:
                    type: boolean
                  phone:
                    type: string
      parameters:
        - schema:
            type: string
          in: header
          name: Authentication
    delete:
      summary: Pausar loja
      operationId: delete-store
      responses:
        '204':
          description: No Content
  '/store/{key}':
    parameters:
      - schema:
          type: string
        name: key
        in: path
        required: true
    patch:
      summary: Adicionar imagem na loja
      operationId: patch-stores-id-key
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  url:
                    type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                file:
                  type: string
              required:
                - file
      parameters:
        - schema:
            type: string
          in: header
          name: Authentication
      description: "{key} pode ser 'logo' ou 'banner' (sem as aspas)"
  /store/days:
    get:
      summary: Todos períodos da loja
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  name:
                    type: string
                  breaks:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        store_id:
                          type: integer
                        day_id:
                          type: integer
                        starts_at:
                          type: string
                        end_at:
                          type: string
      operationId: get-stores-days
      parameters:
        - schema:
            type: string
          in: header
          name: Authentication
          required: true
    parameters: []
    post:
      summary: Adicionar período na loja
      operationId: post-store-days
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  starts_at:
                    type: string
                  end_at:
                    type: string
                  store_id:
                    type: integer
                  day_id:
                    type: integer
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                day_id:
                  type: integer
                starts_at:
                  type: string
                end_at:
                  type: string
      parameters:
        - schema:
            type: string
          in: header
          name: Authentication
          required: true
  '/store/days/{id}':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
    delete:
      summary: Deletar período
      operationId: delete-store-days-id
      responses:
        '204':
          description: No Content
      parameters:
        - schema:
            type: string
          in: header
          name: Authentication
          required: true
  /categories:
    get:
      summary: Todas categorias
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    name:
                      type: string
                    store_id:
                      type: integer
                    active:
                      type: boolean
      operationId: get-categories
      parameters:
        - schema:
            type: string
          in: header
          name: Authentication
          required: true
    post:
      summary: Criar categoria
      operationId: post-categories
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  name:
                    type: string
                  active:
                    type: boolean
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                active:
                  type: boolean
      parameters:
        - schema:
            type: string
          in: header
          name: Authentication
          required: true
  '/categories/{id}':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
    get:
      summary: Ver categoria
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  name:
                    type: string
                  active:
                    type: boolean
                  store_id:
                    type: integer
      operationId: get-categories-id
      parameters:
        - schema:
            type: string
          in: header
          name: Authentication
          required: true
    put:
      summary: Atualizar categoria
      operationId: put-categories-id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  name:
                    type: string
                  active:
                    type: boolean
      parameters:
        - schema:
            type: string
          in: header
          name: Authentication
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                active:
                  type: boolean
    delete:
      summary: Deletar categoria
      operationId: delete-categories-id
      responses:
        '204':
          description: No Content
      parameters:
        - schema:
            type: string
          in: header
          name: Authentication
  /days:
    get:
      summary: Todos dias
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    name:
                      type: string
      operationId: get-days
      parameters:
        - schema:
            type: string
          in: header
          name: Authentication
  /store/payment/methods:
    get:
      summary: Todos métodos pagamento
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    name:
                      type: string
                    active:
                      type: boolean
      operationId: get-store-payment-methods
      parameters:
        - schema:
            type: string
          in: header
          name: Authentication
          required: true
    patch:
      summary: Atualizar método de pagamento
      operationId: patch-store-payment-methods
      responses:
        '200':
          description: OK
        '404':
          description: Não existe o método de pagamento
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                payment_method_id:
                  type: integer
      parameters:
        - schema:
            type: string
          in: header
          name: Authentication
          required: true
  /store/delivery/ways:
    get:
      summary: Todas formas de entrega
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  name:
                    type: string
                  active:
                    type: boolean
      operationId: get-store-delivery-ways
      parameters:
        - schema:
            type: string
          in: header
          name: Authentication
          required: true
    patch:
      summary: Ativar/desativar forma de entrega
      operationId: patch-store-delivery-ways
      responses:
        '200':
          description: OK
        '404':
          description: ''
      parameters:
        - schema:
            type: string
          in: header
          name: Authentication
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                delivery_way_id:
                  type: integer
    put:
      summary: Atualizar preço do delivery
      operationId: put-store-delivery-ways
      responses:
        '200':
          description: OK
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                price:
                  type: string
                  description: "exemplo: '3,5'"
              required:
                - price
  /store/delivery/way/price:
    get:
      summary: Ver preço do delivery
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  price:
                    type: string
      operationId: get-store-delivery-way-price
      parameters:
        - schema:
            type: string
          in: header
          name: Authentication
          required: true
      description: ''
components:
  schemas: {}
